# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
.env

# Flask instance folder (for configs, uploads, etc.)
instance/
*.db
*.sqlite3

# Logs and temp files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp

# IDE/editor configs
.vscode/
.idea/
*.iml

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/

# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

browserData/
