.qty-input {
    width: 40px;
    position: relative;
}
.unit-selector {
    width: 60px;
    .form-select {
        background-position: right 0.1rem center;
    }
}
.store-input {
    width: 90px;
    position: relative;
    font-size: 14px;
}
.bought-button {
    width: 22px;
    height: 22px;
}
.mutation-button {
    width: 30px;
    height: 30px;
    @media (max-width: 576px) {
        width: 25px;
        height: 25px;
    }
}