.qty-input {
    width: 100px;
    position: relative;
}
.store-input {
    width: 150px;
    position: relative;
    font-size: 14px;
}
.bought-button {
    width: 28px;
    height: 28px;
}
.mutation-button {
    width: 30px;
    height: 30px;
}