.qty-input {
    width: 50px;
    position: relative;
}
.unit-selector {
    width: 60px;
    .form-select {
        background-position: right 0.1rem center;
    }
}
.store-input {
    width: 100px;
    position: relative;
    font-size: 14px;
}
.bought-button {
    width: 28px;
    height: 28px;
}
.mutation-button {
    width: 30px;
    height: 30px;
}